@charset "utf-8";

body {
	font-size: 2em; margin : 0px;
	padding: 0px;
	box-sizing: border-box;
	margin: 0px;
}

h1 {
	text-align: center;
	font-size: 3em;
}

#container {
	position: relative;
}

#game {
	display: grid;
	border-style: solid;
	border-width: 1px;
	background-color: #00008B;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	width: fit-content;
	height: fit-content;
	margin: 0 auto;
}

/* box */

.box {
	border-style: solid;
	border-width: 1px;
	background-color: #1E90FF;
	transition-property: top, left;
	transition-duration: 3s;
	text-align: center;
}

  
/* number */
 .box span {
 	display: inline-block;
 	height: 50%;
 	transform: translateY(60%);
 }

/* empty box */
.empty {
	background-color: #00008B;
	z-index: 0;
	border: none;
}