@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.white {
    background-color: rgb(255, 255, 255);
}

.green {
    background-color: rgb(150, 255, 150);
}

.red {
    background-color: rgb(255, 150, 150);
}

#menu1 {
    display: none;
    width: 100px;
}

#menu2 {
    display: none;
    width: 100px;
}

#menu3 {
    display: none;
    width: 100px;
}

#menu4 {
    display: none;
    width: 100px;
}

#menuDeroulant button {
    width: 50px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.select {
    background-color: rgb(220, 239, 12);
}

